@font-face {
    font-family: "Quicksand", sans-serif;
    src: url(../assets/fonts/Quicksand-Regular.ttf);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand", sans-serif;
    src: url(../assets/fonts/Quicksand-Medium.ttf);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand", sans-serif;
    src: url(../assets/fonts/Quicksand-SemiBold.ttf);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}